# runs some very-large-repo tests (for windows filesystem limits) and commits perf results for comparison
name: perf-scale-nuts
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

# linux will finish 10 min ahead of windows, but prevent other branches/commits from hitting simultaneously
# since we're pushing git commits and there would be conflicts
concurrency: perf-scale-nuts

jobs:
  perf-scale-nuts:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - run: git config --system core.longpaths true
        if: ${{ runner.os == 'Windows' }}

      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - uses: salesforcecli/github-workflows/.github/actions/retry@main
        name: add CLI as global dependency
        with:
          command: npm install @salesforce/cli@nightly -g
          timeout_minutes: 60
      - uses: salesforcecli/github-workflows/.github/actions/yarnInstallWithRetries@main
        with:
          ignore-scripts: true
      - run: |
          yarn mocha test/nuts/scale/eda.nut.ts --timeout 500000
          yarn mocha test/nuts/scale/lotsOfClasses.nut.ts --timeout 500000
          yarn mocha test/nuts/scale/lotsOfClassesOneDir.nut.ts --timeout 500000

      # Run `github-action-benchmark` action
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@5bbce78ef18edf5b96cb2d23e8d240b485f9dc4a
        with:
          tool: 'customSmallerIsBetter'
          output-file-path: test/nuts/scale/output.json
          comment-on-alert: true
          fail-on-alert: true
          # Push and deploy GitHub pages branch automatically
          # this has a bug where it creates duplicate commits when summary-always and aut-push are both true
          # summary-always: true
          comment-always: true
          benchmark-data-dir-path: perf-${{ runner.os}}
          auto-push: true
          github-token: ${{ secrets.SVC_CLI_BOT_GITHUB_TOKEN }}
