# Checks registry against metadataCoverageReport (next release) and reports values to slack

name: registry-check-preview
on:
  workflow_dispatch:
  schedule:
    # weekly on Monday morning
    - cron: 34 3 * * 1

jobs:
  registry-check-preview:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: yarn install
      - run: yarn build
      - run: yarn metadata:preview
        env:
          DEFAULT_SLACK_WEBHOOK: ${{ secrets.CLI_TEAM_SLACK_WEBHOOK_URL }}
