name: supported metadata update

on:
  workflow_dispatch:
  schedule:
    - cron: 3 22 * * *

jobs:
  registry-check:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.SVC_CLI_BOT_GITHUB_TOKEN }}
      - uses: salesforcecli/github-workflows/.github/actions/gitConfig@main
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - run: yarn install --network-timeout 600000
      - run: yarn build
      - run: yarn update-supported-metadata
      - run: |
          if [[ -n $(git status --short) ]]; then
            git add METADATA_SUPPORT.md
            git commit -m "chore: auto-update metadata coverage in METADATA_SUPPORT.md [no ci]" --no-verify
            git push --no-verify
          else
            echo "Already up to date"
          fi
