# runs ut and nuts for SDR, plus the nuts from plugin-deploy-retrieve

name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  yarn-lockfile-check:
    uses: salesforcecli/github-workflows/.github/workflows/lockFileCheck.yml@main
  # Since the Windows unit tests take much longer, we run the linux unit tests first and then run the windows unit tests in parallel with NUTs
  linux-unit-tests:
    needs: yarn-lockfile-check
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsLinux.yml@main
  windows-unit-tests:
    needs: linux-unit-tests
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsWindows.yml@main

  nuts:
    needs: linux-unit-tests
    uses: salesforcecli/github-workflows/.github/workflows/nut.yml@main
    secrets: inherit
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    with:
      os: ${{ matrix.os }}

  xNuts-pdr:
    needs: linux-unit-tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        command:
          - 'yarn test:nuts:convert'
          - 'yarn test:nuts:deb'
          - 'yarn test:nuts:delete'
          - 'yarn test:nuts:deploy'
          - 'yarn test:nuts:deploy:metadata:manifest'
          - 'yarn test:nuts:deploy:metadata:metadata'
          - 'yarn test:nuts:deploy:metadata:metadata-dir'
          - 'yarn test:nuts:deploy:metadata:source-dir'
          - 'yarn test:nuts:deploy:metadata:test-level'
          - 'yarn test:nuts:destructive'
          - 'yarn test:nuts:manifest'
          - 'yarn test:nuts:retrieve'
          - 'yarn test:nuts:specialTypes'
          - 'yarn test:nuts:static'
          - 'yarn test:nuts:tracking'
    uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
    with:
      packageName: '@salesforce/source-deploy-retrieve'
      externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-deploy-retrieve'
      command: ${{matrix.command}}
      preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
      postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
      preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
      os: ${{matrix.os}}
      useCache: false
    secrets: inherit
