# runs ut and nuts for SDR, plus the nuts from plugin-source

name: tests
on:
  push:
    paths-ignore:
      - 'test/nuts/perfResults/**'
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  # yarn-lockfile-check:
  #   uses: salesforcecli/github-workflows/.github/workflows/lockFileCheck.yml@main
  # # Since the Windows unit tests take much longer, we run the linux unit tests first and then run the windows unit tests in parallel with NUTs
  # linux-unit-tests:
  #   needs: yarn-lockfile-check
  #   uses: salesforcecli/github-workflows/.github/workflows/unitTestsLinux.yml@main
  # windows-unit-tests:
  #   needs: linux-unit-tests
  #   uses: salesforcecli/github-workflows/.github/workflows/unitTestsWindows.yml@main
  # nuts:
  #   needs: linux-unit-tests
  #   uses: salesforcecli/github-workflows/.github/workflows/nut.yml@main
  #   secrets: inherit
  #   strategy:
  #     matrix:
  #       os: [ubuntu-latest, windows-latest]
  #     fail-fast: false
  #   with:
  #     os: ${{ matrix.os }}

  perf-scale-nuts:
    # because this is pushing to gh-pages, we don't want collisiosn to make us lose data
    concurrency: perf-scale-nuts
    uses: ./.github/workflows/perfScaleNut.yml
    # needs: linux-unit-tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    with:
      os: ${{ matrix.os }}
    secrets:
      SVC_CLI_BOT_GITHUB_TOKEN: ${{ secrets.SVC_CLI_BOT_GITHUB_TOKEN }}

  # run a quick nut on each OS to populate the cache
  # the following is highly duplicative to allow linux to start all the nuts without waiting for windows primer
  # xNuts-lin-prime-ps:
  #   name: xNuts-lin-prime-ps
  #   needs: nuts
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-source'
  #     command: 'yarn test:nuts:deploy:async'
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: 'ubuntu-latest'
  #   secrets: inherit

  # xNuts-lin-prime-pdr:
  #   name: xNuts-lin-prime-pdr
  #   needs: nuts
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-deploy-retrieve'
  #     command: 'yarn test:nuts:convert'
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: 'ubuntu-latest'
  #   secrets: inherit

  # xNuts-win-prime-ps:
  #   name: xNuts-win-prime-ps
  #   needs: nuts
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-source'
  #     command: 'yarn test:nuts:deploy:async'
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: 'windows-latest'
  #   secrets: inherit

  # xNuts-win-prime-pdr:
  #   name: xNuts-win-prime-pdr
  #   needs: nuts
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-deploy-retrieve'
  #     command: 'yarn test:nuts:convert'
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: 'windows-latest'
  #   secrets: inherit

  # # now run the rest of the nuts for each os via cached version of al the setup steps
  # xNuts-linux-ps:
  #   needs: xNuts-lin-prime-ps
  #   name: xNuts-linux-ps
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       command:
  #         - 'yarn test:nuts:deb'
  #         - 'yarn test:nuts:deploy:destructive'
  #         - 'yarn test:nuts:deploy:manifest'
  #         - 'yarn test:nuts:deploy:metadata'
  #         - 'yarn test:nuts:deploy:quick'
  #         - 'yarn test:nuts:deploy:rest'
  #         - 'yarn test:nuts:deploy:sourcepath'
  #         - 'yarn test:nuts:deploy:testlevel'
  #         - 'yarn test:nuts:mdapi'
  #         - 'yarn test:nuts:retrieve'
  #         - 'yarn test:nuts:specialTypes'
  #         - 'yarn test:nuts:tracking'
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-source'
  #     command: ${{matrix.command}}
  #     # the next 3 lines are likely unnecessary due to cache use
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: ubuntu-latest
  #   secrets: inherit

  # # now run the rest of the nuts for each os via cached version of all the setup steps
  # xNuts-win-ps:
  #   needs: xNuts-win-prime-ps
  #   name: xNuts-win-ps
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       command:
  #         - 'yarn test:nuts:deb'
  #         - 'yarn test:nuts:deploy:destructive'
  #         - 'yarn test:nuts:deploy:manifest'
  #         - 'yarn test:nuts:deploy:metadata'
  #         - 'yarn test:nuts:deploy:quick'
  #         - 'yarn test:nuts:deploy:rest'
  #         - 'yarn test:nuts:deploy:sourcepath'
  #         - 'yarn test:nuts:deploy:testlevel'
  #         - 'yarn test:nuts:mdapi'
  #         - 'yarn test:nuts:retrieve'
  #         - 'yarn test:nuts:specialTypes'
  #         - 'yarn test:nuts:tracking'
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-source'
  #     command: ${{matrix.command}}
  #     # the next 3 lines are likely unnecessary due to cache use
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: windows-latest
  #   secrets: inherit

  # xNuts-linux-pdr:
  #   needs: xNuts-lin-prime-pdr
  #   name: xNuts-linux-pdr
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       command:
  #         - 'yarn test:nuts:deb'
  #         - 'yarn test:nuts:delete'
  #         - 'yarn test:nuts:deploy:metadata:manifest'
  #         - 'yarn test:nuts:deploy:metadata:metadata'
  #         - 'yarn test:nuts:deploy:metadata:metadata-dir'
  #         - 'yarn test:nuts:deploy:metadata:source-dir'
  #         - 'yarn test:nuts:deploy:metadata:test-level'
  #         - 'yarn test:nuts:destructive'
  #         - 'yarn test:nuts:manifest'
  #         - 'yarn test:nuts:retrieve'
  #         - 'yarn test:nuts:specialTypes'
  #         - 'yarn test:nuts:static'
  #         - 'yarn test:nuts:tracking'
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-deploy-retrieve'
  #     command: ${{matrix.command}}
  #     # the next 3 lines are likely unnecessary due to cache use
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: ubuntu-latest
  #   secrets: inherit

  # xNuts-win-pdr:
  #   needs: xNuts-win-prime-pdr
  #   name: xNuts-win-pdr
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       command:
  #         - 'yarn test:nuts:deb'
  #         - 'yarn test:nuts:delete'
  #         - 'yarn test:nuts:deploy:metadata:manifest'
  #         - 'yarn test:nuts:deploy:metadata:metadata'
  #         - 'yarn test:nuts:deploy:metadata:metadata-dir'
  #         - 'yarn test:nuts:deploy:metadata:source-dir'
  #         - 'yarn test:nuts:deploy:metadata:test-level'
  #         - 'yarn test:nuts:destructive'
  #         - 'yarn test:nuts:manifest'
  #         - 'yarn test:nuts:retrieve'
  #         - 'yarn test:nuts:specialTypes'
  #         - 'yarn test:nuts:static'
  #         - 'yarn test:nuts:tracking'
  #   uses: salesforcecli/github-workflows/.github/workflows/externalNut.yml@main
  #   with:
  #     packageName: '@salesforce/source-deploy-retrieve'
  #     externalProjectGitUrl: 'https://github.com/salesforcecli/plugin-deploy-retrieve'
  #     command: ${{matrix.command}}
  #     # the next 3 lines are likely unnecessary due to cache use
  #     preBuildCommands: 'shx rm -rf node_modules/@salesforce/kit; shx rm -rf node_modules/@typescript-eslint; shx rm -rf node_modules/eslint-plugin-header; shx rm -rf node_modules/eslint-plugin-import; shx rm -rf node_modules/eslint-plugin-jsdoc; shx rm -rf node_modules/eslint-plugin-prettier'
  #     postbuildCommands: 'cp src/registry/metadataRegistry.json lib/src/registry'
  #     preExternalBuildCommands: 'shx rm -rf node_modules/@salesforce/source-tracking/node_modules/@salesforce/source-deploy-retrieve'
  #     os: ubuntu-latest
  #   secrets: inherit
